<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloud.bookserviceprovider.dao.BookDAO">

    <insert id="addBook" parameterType="Book">
        INSERT INTO book(bookName,bookSize,pack,isbn,publisher,publishTime)
        VALUES(#{bookName},#{bookSize},#{pack},#{ISBN},#{publisher},#{publishTime})
    </insert>

	<select id="getBooks" resultType="Book">
		select * from book
	</select>

	<select id="getBookById" resultType="Book">
		select * from book where id=#{id}
	</select>


</mapper>
 

